{% extends 'base.html.twig' %}

{% block title %}{% trans %}main.ourproducts{% endtrans %} - onRuntime Studio{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div id="products" class="content container">
            <div class="row">
                <div class="col-md-8 content-left d-flex flex-column">
                    <h1>{{ trans.products.title }}</h1>
                    <div class="row">
                        <div class="col-md-7">
                            <p>
                                {{ trans.products.description }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 content-right d-flex flex-column align-items-center">
                    {% if link.website is defined %}<a target="_blank" href="{{ link.website }}" class="btn">{% trans %}main.button.website{% endtrans %}</a>{% endif %}
                    {% if link.discord is defined %}<a target="_blank" href="{{ link.discord }}" class="btn btn-discord">Discord</a>{% endif %}
                    {% if link.twitter is defined %}<a target="_blank" href="{{ link.twitter }}" class="btn btn-twitter">Twitter</a>{% endif %}
                </div>
            </div>
        </div>

        <div class="bg-wrapper">
            {% if link.img is defined %}<img class="img-fluid" src="{{ link.img }}"></img>{% endif %}
        </div>
    </div>
{% endblock %}
